@charset "UTF-8";

nav{
	width:1500px;
	height:100px;
	border:1px solid black;
}
nav ul{
	height:100px;
	display:flex;
}

nav li{
	display:block;
	list-style: none;
	padding :30px 50px;
	
	font-weight:bold;
}

nav a{
	color:black;
	text-decoration : none;
}